.container {
  background-image: url("../public/background.svg");
  height: 100%;
  background-repeat: repeat-x;
  overflow-x: hidden;
}

.containerEditor {
  height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
